@mixin form00 {
  &__set,
  .mc-field-group {
    flex:1 1 40%;
    margin:12px;
    &--label,
    label {
      display:block;
      color:--c-marqLabel;
      @extend %formLabel;
    }
    &--input,
    input {
      box-sizing: border-box;
      width:100%;
      height:40px;
      padding:2px 14px 0;
      background:--c-marqInputBg;
      color:--c-marqInput;
      @extend %formInput;
    }
    &--txt,
    textarea {
      
      width:100%;
      padding:2px 14px 0;
      background:--c-marqInputBg;
      color:--c-marqInput;
      @extend %formInput;

    }
  }
  &__pairs {
    flex:1 1 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content:space-between;
    align-items: flex-start;
    margin: 12px;
    &--hed {
      flex: 1 0 100%;
      @extend %siteH5;
    }
    &--label {
      
      flex: 0 1 calc(100% - 48px);
      padding:2px 14px 0 0;
      @extend %formLabel;
    }
    &--radio {
      flex: 0 1 40px;
      margin-bottom: 8px;
    }
  }
  .clear {
    flex: 0 1 100%;
  }
  &--action,
  input.button {
    margin:12px;
    @include cta;
    @extend %standardCta;
  }
}
@mixin form01(--c-border: 0,--c-shadow: 6px) {
  &__set,
  .mc-field-group {
    &--input,
    &--txt,
    input {
      border:--c-border solid --c-marqInputBorder;
      border-radius: 3px;
      box-shadow: 0 0 --c-shadow --c-marqInputBorder  inset;
    }
  }
  &--action,
  input.button {
    border:--c-border;
    border-radius: 3px;
  }
}
@mixin form02(--c-border: 1px, --c-shadow: 6px) {
  &__set,
  .mc-field-group {
    &--input,
    &--txt,
    &-fields input[type="text"],
    &-fields input[type="tel"],
    &-fields input[type="email"],
    &-fields input[type="password"],
    &-fields input[type="url"],
    &-fields input[type="number"],
    input {
      border-width: 0 0 --c-border --c-border;
      border-style: solid;
      border-radius:0;
      .marq & {
        border-color: transparent transparent --c-marqInputBorder --c-marqInputBorder;
        box-shadow: --c-shadow 0 0 --c-marqInputBorder inset;  
      }
      .landing &,
      .embed & {
        border-color: transparent transparent --c-defaultInputBorder --c-defaultInputBorder;
        box-shadow: --c-shadow 0 0 --c-defaultInputBorder inset;  
      }
    }
  }
  &--action,
  input.button {
    border:0;
    box-shadow: --c-border 0 0 --c-ctaBorder  inset;
  }
}
@mixin form03(--c-border: -4px,--c-shadow: 6px) {
  &__set,
  .mc-field-group {
    &--input,
    &--txt,
    input {
      border:0;
      box-shadow: 0 --c-border 0 --c-marqInputBorder inset;
    }
  }
  &--action,
  input.button {
    border:0;
    box-shadow: 0 --c-border 0 --c-ctaBorder  inset;
  }
}
@mixin form04(--c-border: 1px) {
  &__set,
  .mc-field-group {
    &--input,
    &--txt,
    input {
      border:--c-border solid --c-marqInputBorder;
    }
  }
  &--action,
  input.button {
    border:--c-border solid --c-ctaBorder;
  }
}
@mixin form05(--c-border: 1px) {
  &__set,
  .mc-field-group {
    &--txt,
    &--input {
      border:--c-border solid --c-marqInputBorder;
      border-radius: 3px;
    }
  }
  &--action,
  input.button {
    border:--c-border;
    // border-radius: 3px;
  }
}
@mixin form06(--c-border: 0) {
  &__set,
  .mc-field-group {
    &--txt,
    &--input {
      border:--c-border solid --c-marqInputBorder;
      border-radius: 20px;
    }
  }
  &--action,
  input.button {
    border:--c-border;
    border-radius: 20px;
  }
}