%ea01 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-width: --c-border;
    border-style: solid;
    border-radius: --c-shadow;
    .marq & {
      background-color: --c-marqInputBg;
      border-color:--c-marqInputBorder;
      box-shadow: 0 --c-shadow 3px --c-marqInputShadow inset;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
      border-color: --c-defaultInputBorder;
      box-shadow: 0 --c-shadow 3px --c-defaultInputShadow inset;
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
%ea02 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-width: 0 0 --c-border --c-border;
    border-style: solid;
    border-radius:0;
    .marq & {
      border-color: transparent transparent --c-marqInputBorder --c-marqInputBorder;
      box-shadow: --c-shadow 0 0 --c-marqInputBorder inset;  
    }
    .landing &,
    .embed & {
      border-color: transparent transparent --c-defaultInputBorder --c-defaultInputBorder;
      box-shadow: --c-shadow 0 0 --c-defaultInputBorder inset;  
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
%ea03 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-style: solid;
    border: 0;
    border-radius: 0;
    .marq & {
      box-shadow: 0px --c-border 0px --c-marqInputBorder inset;
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
      box-shadow: 0px --c-border 0px --c-marqInputBorder inset;
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
%ea04 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-width: --c-border;
    border-style: solid;
    border-radius: 0;
    .marq & {
      background-color: --c-marqInputBg;
      border-color:--c-marqInputBorder;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
      border-color: --c-defaultInputBorder;
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
%ea05 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-width: --c-border;
    border-style: solid;
    border-radius: --c-shadow;
    .marq & {
      background-color: --c-marqInputBg;
      border-color:--c-marqInputBorder;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
      border-color: --c-defaultInputBorder;
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
%ea06 {
  .site & input[type="text"],
  .site & input[type="tel"],
  .site & input[type="email"],
  .site & input[type="password"],
  .site & input[type="search"],
  .site & input[type="number"],
  .site & select,
  .site & input:not([type="submit"]),
  .site & .select2-container--default .select2-selection--multiple {
    border-width: --c-border;
    border-style: solid;
    border-radius: 20px;
    .marq & {
      background-color: --c-marqInputBg;
      border-color:--c-marqInputBorder;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
      border-color: --c-defaultInputBorder;
    }
  }
  input[type="radio"],
  input[type="checkbox"] + span::before {
    .marq & {
      background-color: --c-marqInputBg;
    }
    .landing &,
    .embed & {
      background-color: --c-defaultInputBg;
    }
  }
}
.dest {
  .at {
    &,
    &-legend,
    &-title,
    &-markup
    &-fieldset {
      margin-left: 0;
      color: --c-marqLabel;
    }
  }
}
.site {
  @supports (display: grid) {
    display: -ms-grid;
    display: grid !important;
  }
  // Colors
  .landing,
  .embed {
    .at {
      &,
      &-legend,
      &-title,
      &-markup
      &-fieldset {
        color: --c-defaultLabel;
      }
      &-markup * {
        color: --c-defaultLabel !important;
      }
      &-inner {
        background-color: --c-defaultFormBg;
        color: --c-defaultLabel;
      }
      &-inner > *,
      &-fieldset {
        background-color: --c-defaultFormBg;
      }  
    }  
  }
  .marq {
    .at {
      &,
      &-legend,
      &-title,
      &-markup
      &-fieldset,
      &-label {
        color: --c-marqLabel;
      }
      &-markup * {
        color: --c-marqLabel !important;
      }
      &-inner {
        background-color: --c-marqFormBg;
        color: --c-marqLabel;
      }
      &-inner > *,
      &-fieldset {
        background-color: --c-marqFormBg;
      }
      &-text input {
        // box-shadow: 6px 0 0 --c-marqInputBorder inset;

      }
    }
  }
  // End Colors
  .at {
    z-index:1;
    &,
    &-legend,
    &-title,
    &-markup
    &-fieldset {
      margin-left: 0;
    }
    &-legend {
      @extend %clipIt;
    }
    &-markup * {
      @import "base/bodytxt";
    }
    &-inner {
      @import "base/bodytxt";
    }
    &-inner > *,
    &-fieldset {
      padding-left:0;
      padding-right:0;
    }
    &-row {
      margin-left:-10px;
      margin-right:-10px;
      label {
        color: --c-defaultLabel;
      }
    }
    &-title {
      @extend %clipIt;
      // @extend %siteH5;
      // text-align:left;
    }
    &-form {
      &-submit {
        padding: 0;
      }
    }
    h1 {
      @extend %siteH3;
    }
    & .select2-container--default .select2-selection--multiple {
      display: flex;
      align-items: stretch;
    }
    & .select2-selection__rendered {
      padding: 0 !important;
      display: flex !important;
      align-items: stretch;
    }
    & .select2-selection--multiple {
      // border-radius: 0 !important;
    }
    & .select2-search {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: stretch;
    }
    & .select2-search__field {
      flex: 1;
      border-width: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    .btn-at-primary {
      @include cta;
      @extend %siteH5;
      margin:0;
    }
  }
}
.embed {
  .oa {
    @media screen and (min-width:960px) {
      &-page-embed {
        display: grid; 
        grid-template-columns: repeat(2, minmax(24px, 78px)) auto repeat(2, minmax(24px, 78px));
      }
      &-input-container {
        display: flex;
        flex-flow: row wrap;
        > div {
          flex: 0 0 calc(38% - 66px);
          max-width: calc(38% - 66px);
          padding: 5px;
          &.oa-requires-js,
          &.oa-input-unit {
            flex: 0 0 196px;
            max-width: 196px;
          }
        }
      }
      &-map-container {
        grid-column: 1;
        grid-row: 2/ span 3;
      }
      &-event {
        &-list {
          &-container {
            display: flex;
            flex-flow: row wrap;    
          }
          &-results-container {
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 24px;
            width: 100%;
            > div {
              & &.oa-map-container {
                grid-column: 1;
              }
              &.oa-event-result-container {
                grid-column: 2;
              }
            }
            #oa-event-result-0 {
              grid-row: 2;
            }
          }
        }
      }
    }
    &-page-embed {
      .page-content {
        grid-column: 3 / span 1;
      }
    }
    &-event-list-container {
    }
    &-hooked {
      flex: 1 1 640px;
    }
  }
}