#mc_embed_signup_scroll {
  display: flex;
  flex-flow:row wrap;
  h2 {
    @extend %clipIt;
  }
  li {
    list-style: none;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-start;
    label {
      flex: 0 0 auto;
      padding:0 12px;
    }
  }
  .mc-field-group {
    input {
      &[type="checkbox"] {
        flex:0 0 24px;
        height: 24px;
      }
    }
  
  }
}
.indicates-required {
  flex:0 0 100%;
  order:100;
  margin:12px;
  @extend %siteSmallP;
}
.article {
  #mc_embed_signup_scroll {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    max-width: 500px;
    @include form00;
    @include form04;
    ul {
      flex:0 0 100%;
      margin:0 0 24px;
    }
  
    li {
      margin:0 0 6px 0;
    }
    .mc-field-group {
      input {
        &[type="checkbox"] {
          flex:0 0 24px;
          height: 24px;
        }
      }
    
    }
  
  }
}