@mixin marqFlex {
  display: flex;
  flex-flow:column nowrap;
}
@mixin marqGrid {
  display: grid;
}
@mixin marq01 {
  justify-content: center;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 2 / span 4;
  }
  @media screen and (min-width:960px) {
    grid-column: 2 / span 6;
  }
}
@mixin marq02 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) {
    @include marqGrid;
  }
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 6 / span 4;
  }
  @media screen and (min-width:960px) {
    grid-column: 8 / span 6;
  }
}
@mixin marq03 {
  justify-content: center;
  align-items: center;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 4 / span 4;
  }
  @media screen and (min-width:960px) {
    grid-column: 5 / span 6;
  }
}
@mixin marq04 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 6 / span 4;
  }
  @media screen and (min-width:960px) {
    grid-column: 10 / span 4;
  }
}
@mixin marq05 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 4 / span 6;
  }
  @media screen and (min-width:960px) {
    grid-column: 5 / span 9;
  }
}
@mixin marq06 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 2 / span 6;
  }
  @media screen and (min-width:960px) {
    grid-column: 2 / span 9;
  }
}
@mixin marq07 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 3 / span 5;
  }
  @media screen and (min-width:960px) {
    grid-column: 10 / span 4;
  }
}
@mixin marq08 {
  justify-content: center;
  align-content:center;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 2 / span 4;
  }
  @media screen and (min-width:960px) {
    grid-column: 2 / span 4;
  }

}
@mixin marq09 {
  justify-content: center;
  align-items: flex-start;
  @include marqFlex;
  @media screen and (min-width:700px) and (max-width:960px) {
    grid-column: 2 / span 3;
  }
  @media screen and (min-width:960px) {
    grid-column: 2 / span 5;
  }
}